[core]
  autocrlf = false
  safecrlf = false
  ignorecase = false
	excludesfile = ~/.cvsignore

[color]
	ui = auto
[user]
	name = Samuel Leathers
	email = sbl5007@psu.edu

[merge]
tool = splice

[mergetool "splice"]
cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
trustExitCode = true
[push]
	default = simple
