[core]
  autocrlf = false
  safecrlf = false
  ignorecase = false
	excludesfile = /home/sbl5007/.gitignore

[color]
	ui = auto
[user]
	name = Samuel Leathers
	email = sbl5007@psu.edu

[merge]
tool = threesome

[mergetool "threesome"]
cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
trustExitCode = true
